
.btnAjouteC{
    font-family: Montserrat; 
    background-color: #7fa87e;
    border: none;
    padding: 8px;
    color: #ffffff;
    font-weight: 600px;
    border-radius: 10px;
    width: 180px;
    font-size: 13px;
    font-family: Montserrat; 
    transition: 0.1s ease ;
    text-decoration: none;
}
.tableInfos{
    font-family: Montserrat; 
    margin-top: -90px;
}
.tableInfos .table th{
    height: 50px;
    text-align: center;
    margin-top: -30px;
    background: #F0F0F0; 
    color: #898989; 
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.tableInfos .table tbody tr .lien{
    text-decoration: none;
    color: #333;
font-family: Montserrat; 
}
.tableInfos .table tbody tr td{
    text-align: center;
    color: #333;
font-family: Montserrat; 
}