.rowcom .colmag .ajouterOffre{
    background-color: transparent;
    text-decoration: underline;
    color: #898989;
    font-size: 13px;
    margin-top: 70px;
}
.rowcom .colmag .bntcon{
    background-color: #7fa87e;
    margin-top: 30px;
    text-align: center;
    margin-left: -80px;
}
#rowMagasin{
    margin-bottom: 150px;
}