#allItems{
    margin-left: 40px;
    border: 1px solid rgb(222, 222, 222);
    margin-top: -100px;
    padding: 10px 10px 20px 10px;
    margin-bottom: 120px;
    border-radius: 15px;
}
.contentMagasinP{
    display: flex;
    cursor: pointer;
}
.Itemimg{
    border: solid 1px rgb(234, 234, 234);
}
.Itemimg p{
    font-size: 15px; 
    color: white;
    height: 35px;
    background-color: #7fa87e;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
}
.pu{
    color: #FFF;
font-family: Montserrat;
font-size: 10px;
margin-left: 4px;
font-style: normal;
font-weight: 300;
line-height: normal; 
}
.infoPM{
    margin-top: 30px;
    margin-left: 50px;
}
.txN{
    text-decoration: none;
}
.infoPM p{
    color: #333;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    font-size: 22px;

}
.infoPM span{
    position: absolute;
    margin-top: -40px;
    font-size: 15px;
    font-weight: 600;
    color: #63a362;
    text-align: center;

}

.contentMagasinP img{
    width: 200px;
}
.iconPoint{
    margin-right: 10px;
    color: #333;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
}
.btnVP{
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}
.btnVP a{
    color: #7fa87e;

}
.btnAjouteM{
    border: none;
    padding: 10px 7px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500px;
    border-radius: 10px;
    background-color: #7fa87e;
    width: 180px;
    transition: 0.1s ease ;
    text-decoration: none;

}
.btnAjouteM:hover{
    transition: 0.2s ease ;
    background-color: #63a362;

}