.titleApp{
    color: #FFF;
    text-shadow: 0px 4.786px 23.929px rgba(0, 0, 0, 0.35);
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0px 0px 10px;
    background-image: url(./Barclient.png);
}
.filterInVisiteur{
    margin-top: -25px;
    height: 100px;
    justify-content: right;
    
}
