#content {
	position: relative;
	width: calc(100% - 80px);
	left: 80px;
	transition: .3s all ease;
}
.logocommercial{
	width: 40px;
	margin-left: 25px;
}
.profilCommercial{
	width: 50px;
	margin-left: 23px;
	margin-bottom: 60px;

}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}

.logout{
	color: #898989;
	margin-left: 2px;
	margin-top: -15px;
}


/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}




#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}
svg{
	background-color: #007ACC;
}
.linemenu{
	display: flex;
	justify-content: center;
	font-size: 40px;
	margin-left: 20px;
	text-align: center;
	margin-top: 100px;
}
#sidebar .side-menu li a{
	color:#333333;
}
.hr{
	width: 37px;
	margin-left: 30px;
	margin-top: 100px;
}
#sidebar .menu-down .top li a{
	color: #898989;
	font-size: 20px;
	margin-top: -12px;

}




#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
.produitCard img{
	border-radius: 10px;
	border: 1px solid rgb(235, 235, 235);
	width: 130px;
	padding: 15px 30px 10px 30px;
	height: 170px;
	width: 200px;
}
.produitCard i{
	color: rgb(59, 59, 59);
    cursor: pointer;
    border-radius: 100px;
    padding: 0 5px 0 5px;
    border: 1px solid rgb(200, 200, 200);
    font-size: 25px;
}
.barTitle{
	margin-left: 50px;
	margin-top: -30px;
	display: flex;
	justify-content: space-between;

}
.buttonSuprimer{
	font-family: Montserrat; 
	margin-top: 70px;
	
}
.slideImgcategori img{
	margin-bottom: 10px;
	/* width: 70%;
	height: 150%;
	padding-bottom: 10px;
	margin-left: 20px; */
}
.buttonSuprimer a{
	font-family: Montserrat; 
	margin-top: 70px;
	color: #007ACC;
}
.barTitle a{
	font-family: Montserrat; 
	font-style: normal; 
	background-color: #007ACC;
	color: #fff;
	line-height: normal; 
	text-decoration: none;
	border-radius: 10px;
	padding: 15px 15px ;
	border: none;
}
.cardItem{
	display: flex;
	font-family: Montserrat; 
	margin-left: 120px;
}
.ItemInfo h2{
	font-family: Montserrat; 
	font-weight: 600;
} 
.ItemInfo .pu{
	font-weight: 400;
	font-size: 20px;
}
.ItemInfo h6{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
}
.ItemInfo .chifre{
	margin-left: 40px;
	font-weight: 500;

}
.description{
	font-family: Montserrat; 
	margin-left: 90px	;
}
.description p {
	font-family: Montserrat; 
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.ItemInfo{
	margin-left: 70px;
}
/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 80px;
	}

	#content {
		width: calc(100% - 70px);
		left: 70px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: 0;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}
.card{
	margin-left: 10px;

}
.infoProduct{
	width: 100%;
	/* margin-left: -8px; */
	border-radius: 0px 0px 10px 10px;
	background-color:#5495d7;
}
.cardProduct{
	border: 1px solid rgb(211, 211, 211);
	/* margin-left: 10px; */
}


/*--------------------------- Produc Slid -----------------------  */


body{
    margin: 0;
    padding: 0;

}

#ProductSlide{
	margin-left: 50px;
	margin-top: -60px;
}
.right-align {
	text-decoration: none;
	position: absolute;
	margin-left: 1050px;
	margin-top: -10px;

  }
a{
    text-decoration: none;
}
.box{
	border: 1px solid rgb(218, 218, 218);
    width: 220px;
    border-radius: 10px;
    margin: 25px;
}
.boxSponsore{
    width: 220px;
    margin: 25px;
}
.slidImage{
    height: 150px;
    width: 180px;
    position: relative;
}
.slideImgSponsore{
	height: 80px;
    width: 100px;
    position: relative;
}
.slideImgSponsore img{
    width: 100%;
    height: 60%;
    /* object-fit: cover;
    box-sizing: border-box; */
}
.slidImage img{
    width: 100%;
    height: 100%;
    /* object-fit: cover;
    box-sizing: border-box; */
}

.detailBoxMagasin{
	font-family: Montserrat; 

    height: 60px;
    background-color: #7fa87e;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;

}
.menu-down hr{
	width: 80px;
}
.type{
    display: flex;
    flex-direction: column;
}
.type p{
	text-decoration: none;
    color: rgb(255, 255, 255);
	margin-top: -20px;
	font-size: 15px;
    /* letter-spacing: 0.5px; */
    padding-right: 8px;
}
.detailBox b{
    color: rgb(255, 255, 255);

}
.type span{
    color: rgb(76, 67, 67);
}
.price{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
	margin-top: 20px;


}
.pMagazin{
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;

}

@media screen and (max-width: 600px) {
	.home{
		margin-left: 100px;
	}
	#ProductSlide{
		margin-left: -5px;
	}
  }

