.content{
    display: flex;
}
.container .h3{
    font-size: 32px;
    margin-left: 50px;
    color: #333;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}
.items1{
    margin-top: 70px;
    margin-left: 60px;
}
.items1 #pencour{
    margin-top: -10px;
    color: #898989;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}
.id{
    color: #898989;
    font-family: Montserrat;
    font-size: 22.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}
.items1 .button{
    background-color: #7fa87e;
    text-decoration: none;
    padding: 15px 45px;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.items1 .btn{
    margin-top: 30px;
}
.items1 .ncom{
    margin-top: 30px
}
.items2{
    margin-left: 30px;
    margin-top: -80px;
}
.items2 img{
    width: 400px; 
}
.items2 .prencour{
    text-align: right;
}
.ncom h4{
    color: #333;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}
.ncom h6{
    margin-left: 30px;
    font-size: 22px;
    color: #898989;
    font-family: Montserrat;
    font-size: 28.447px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.items2 .prencour h3{
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.items2 .prencour h4{
    color: #333;
    text-align: right;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}