.message-success{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}
.message-success .icon-sucess{
    font-size: 2.3rem;
    border-radius: 100%;
    background-color: #007ACC;
    color: aliceblue;
    padding: 5%;
}
.message-success .message-content{
    margin-top: 30px;
}